<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>DARA</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Department of Astrofauna and Abilities Information and Database, a Wiki Site for the War Drums Webcomic Series." />
  <link href="https://fonts.googleapis.com/css2?display=swap&family=Source+Sans+3:ital,wght@0,400;0,700;1,400;1,700" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="icon" type="image/png" href="{{ '/assets/images/dara-logo.png' | relative_url }}">
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/images/dara-logo.png' | relative_url }}">
</head>
<body>
  <div id="wrapper">
    <div id="main">
      <div class="inner">
        <header id="header">
          <div id="header" class="container columns full">
            <div class="wrapper">
              <div class="top-bar" style="display: flex;gap: 1rem;">
                <div>
                  <div id="dara-logo" class="image">
                    <a href="{{ '/' | relative_url }}" class="frame">
                      <img src="{{ '/assets/images/dara-logo.png' | relative_url }}" alt="DARA Logo" />
                    </a>
                  </div>
                </div>
                <div>
                  <h1 id="dara-full-title">US DEPARTMENT OF ASTROFAUNA AND ABILITIES</h1>
                  <ul id="nav-bar" class="buttons">
                    <li><a href="{{ '/' | relative_url }}" class="home-button">Home</a></li>
                    <li><a href="{{ '/about' | relative_url }}" class="about-button">About DARA</a></li>
                    <li><a href="{{ '/species' | relative_url }}" class="species-button">Species Database</a></li>
                    <li><a href="{{ '/archives' | relative_url }}" class="archive-button">Archives</a></li>
                    <li><a href="{{ '/services' | relative_url }}" class="services-button">Services and Resources</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </header>
        
        {{ content }}
        
        <footer id="footer">
          <div id="container" class="container default full">
            <div class="wrapper">
              <div class="inner">
                <div id="dara-logo" class="image">
                  <a href="{{ '/' | relative_url }}" class="frame">
                    <img src="{{ '/assets/images/dara-logo.png' | relative_url }}" alt="DARA Logo" />
                  </a>
                </div>
                <hr id="divider01">
                <p id="links">this will have links eventually.</p>
                <hr id="divider02">
                <p id="disclaimer-text">This website is not affiliated with, endorsed by, or connected to any government entity or official organization. All content, information, and materials presented on this site are entirely fictional and intended solely for creative and world-building purposes as part of the "War Drums" webcomic series, produced by Paperbirdies. Nothing contained herein should be construed as factual, real, or representative of any actual events, individuals, or entities.</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</body>
</html>
